# Core functionality - changes here should be rare!
/src/app.py                   @Rasigagovindhan
/src/backend/database.py      @Rasigagovindhan
/src/backend/routers/auth.py  @Rasigagovindhan

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Rasigagovindhan
